@color-primary: rgb(32, 130, 196);
@color-bg: rgb(224, 224, 224);
@header-height: 50px;

* { box-sizing: border-box; }
*[v-cloak] { display: none;}

a {
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:link {
        color: @color-primary;
    }

    &:visited {
        color: darken( @color-primary, 20% );
    }

    &:hover, 
    &:active {
        color: lighten( @color-primary, 20% );
    }
}

.incunabula-pagenav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: solid 1px #ccc;
    position: sticky;
    top: 0px;
    background-color: #fff;
    height: @header-height;
    font-family: sans-serif;

    &__start {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    &__end {}
}

.incunabula-logo {
    margin-inline-end: 1rem;

    h1 {
        font-size: 1.25rem;
        margin: 0; 
    }
}

.incunabula-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    details {
        padding: 0.5rem;

        summary { 
            list-style: none;
            color: #666;
        }

        summary + * {
            position: absolute;
            left: 0;
            top: @header-height;
            background-color: @color-bg;
            width: 100%;
        }

        ::marker,
        ::-webkit-details-marker { 
            display:none; 
        } 
    }

    details[ open ] {
        .incunabula-icon {
            color: @color-primary;
        }
    }

    .mw-portlet-body {
        padding: 1rem 0.5rem;
    }

    .mw-portlet-body ul:empty {
        &::after {
            content: 'Nothing to display.';
        }
    }
}

.incunabula-search {
    .cdx-search-input {
        max-width: 500px;
    }
}

.incunabula-lightbox {
    &__main {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: @color-bg;

        &__header {
            display: flex;
            justify-content: space-between;
            height: @header-height;
            align-items: baseline;
            padding: 0.5rem;
            border-bottom: solid 1px rgb(190, 190, 190);
        }

        &__content {
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-height: ~"calc( 100vh - ( @{header-height} + 1rem ) )";
            }
        }
    }
}

.incunabula-body {
    max-width: 80ch;
    margin: 0 auto;
    font-size: 1.25em;
    line-height: 1.4;
}

.incunabula-contentheader {
    font-family: sans-serif;
    margin-bottom: 3rem;

    h1 {
        margin-bottom: 0;
        font-size: 3rem;
        font-family: serif;
        font-weight: 400;
    }

    &__tagline {
        color: #888;
        font-size: 1rem;
    }
}

.incunabula-contentnav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 2rem 0 1rem 0;
    font-size: 1rem;
    border-bottom: solid 1px #eee;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0.5rem 0;
        display: inline;
    }

    li {
        display: inline-flex;
        flex: 1 1 auto;
    }

    &__start {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;

        li { margin-inline-end: 1rem; }
    }

    &__end {
        display: flex;
        align-items: baseline;
        justify-content: flex-end;

        li { margin-inline-start: 1rem; }
    }
}

.incunabula-contentbody {
    .mw-headline {
        font-family: sans-serif;
    }

    .mw-editsection {
        font-size: 1rem;
        float: right;
    }
}
