{{#is-article}}
<div id="catlinks" class="catlinks" data-mw="interface">
	{{#data-category-normal}}
	<div id="{{id}}" class="{{class}}">
		<ul>{{{html-items}}}</ul>
		{{{html-after-portal}}}
	</div>
	{{/data-category-normal}}
	{{^data-category-normal}}
	<p>{{msg-slapdash-no-categories}}</p>
	{{/data-category-normal}}
	{{#data-category-hidden}}
	<div id="{{id}}" class="{{class}}">
		<ul>{{{html-items}}}</ul>
		{{{html-after-portal}}}
	</div>
	{{/data-category-hidden}}
</div>
{{/is-article}}