<div class="content__actions">
{{#data-portlets.data-views}}
{{>Portlet}}
{{/data-portlets.data-views}}
{{>Dropdown}}
{{#data-portlets.data-actions}}
{{>Portlet}}
{{/data-portlets.data-actions}}
</div>
