<nav class="incunabula-contentnav">
    {{#data-portlets.data-namespaces}}
    <ul id="{{id}}" class="incunabula-contentnav__start" {{{html-user-language-attributes}}}>
        {{{html-items}}}
    </ul>
    {{{html-after-portal}}}
    {{/data-portlets.data-namespaces}}

    {{#data-portlets.data-views}}
    <ul id="{{id}}" class="incunabula-contentnav__end" {{{html-user-language-attributes}}}>
        {{{html-items}}}
    </ul>
    {{{html-after-portal}}}
    {{/data-portlets.data-views}}
</nav>