<div 
    id="incunabula-lightbox" 
    class="incunabula-lightbox"
    v-scope="Lightbox( store )"
    v-cloak
    @vue:mounted="mounted"
    v-effect="getImageInfo()"
>

    <div class="incunabula-lightbox__main" v-if="isVisible">

        <div class="incunabula-lightbox__main__header">
            <span>
                <a :href="descriptionUrl"
                    target="_blank">
                    ${ title }
                </a>
            </span>
            <span>
                <button @click="closeLightbox">
                    {{#cdx-icon-close}}
                    {{>Icon}}
                    {{/cdx-icon-close}}
                </button>
            </span>
        </div>

        <div class="incunabula-lightbox__main__content">
            <p v-if="!ready">
                Loading...
            </p>
            <div v-else>
                <img :src="sourceUrl">
            </div>
        </div>


    </div>
</div>