<div 
    role="navigation"
    class="incunabula-menu {{class}}" 
    id="{{id}}" 
    title="{{html-tooltip}}" 
    aria-labelledby="{{id}}-label"
>
    <details>
        <summary>
            <h3 id="{{id}}-label" {{html-user-language-attributes}}>
                {{label}}
            </h3>
        </summary>
        <ul {{{html-user-language-attributes}}}>
            {{{html-items}}}
        </ul>
        {{{html-after-portal}}}
    </details>

</div>