<header class="incunabula-pagenav">
	<div class="incunabula-pagenav__start">
		{{>Logo}}
		{{{html-title}}}
	</div>

	<div class="incunabula-pagenav__end">
        <div 
            class="incunabula-toolbar"
            id="incunabula-toolbar"
            v-scope="Nav()"
            @vue:mounted="onMounted( $el )"
        >

        {{>Search}}

        {{#data-portlets.data-notifications}}
        {{>Portlet}}
        {{/data-portlets.data-notifications}}


        {{#data-portlets.data-user-menu}}
        {{>Portlet}}
        {{/data-portlets.data-user-menu}}

        {{#data-portlets-sidebar}}
        {{#data-portlets-first}}{{>Portlet}}{{/data-portlets-first}}
        {{#array-portlets-rest}}{{>Portlet}}{{/array-portlets-rest}}
        {{/data-portlets-sidebar}}
        </div>
	</div>
</header>