<details 
    id="{{id}}"
    @toggle="setActive"
    @keydown="handleKeyNav"
    v-effect="closeOnChange( $el )"
>
    <summary title="{{label}}" 
        {{#incunabula-icon}}
        {{>Icon}}
        {{/incunabula-icon}}
        {{^incunabula-icon}}
        <span {{{html-user-language-attributes}}}>{{label}}</span>
        {{/incunabula-icon}}
    </summary>
    <div class="mw-portlet-body">
        <ul {{{html-user-language-attributes}}}>{{{html-items}}}</ul>
        {{{html-after-portal}}}
    </div>
</details>