<!-- Search results menu; only present when JS is available -->
<ul
    class="cdx-menu"
    role="listbox"
    aria-multiselectable="false"
    v-show="searchExpanded"
    v-cloak
>
    <li
        v-for="result in searchResults"
        role="option"
        class="cdx-menu-item"
    >
        <a 
            :href="result.url"
            class="cdx-menu-item__content"
            @click="console.log( result.url )"
        >
            <span
                v-if="result.thumbnail"
                :style="{ backgroundImage: getThumbnailBackgroundImage( result.thumbnail ) }"
                class="cdx-menu-item__thumbnail"
            ></span>

            <span class="cdx-menu-item__text">
                <span class="cdx-menu-item__text__label">
                    ${ result.label }
                </span>

                <span
                    v-if="result.description"
                    class="cdx-menu-item__text__description"
                >
                    ${ result.description }
                </span>
            </span>
        </a>
    </li>
</ul>