{{#data-search-box}}
<details 
    @toggle="setActive"
    @keydown="handleKeyNav"
    v-effect="closeOnChange( $el )"
    id="incunabula-search"
>
    <summary>
        {{#cdx-icon-search}}
        {{>Icon}}
        {{/cdx-icon-search}}
    </summary>


    <div  class="mw-portlet-body incunabula-search">
        <form 
            action="{{form-action}}" 
            role="search" 
            class="mw-portlet"
        >
            <div style="position:relative; width: 500px;">
                <div class="cdx-search-input cdx-search-input--has-end-button">
                    <div class="cdx-search-input__input-wrapper">
                        <div 
                            class="
                                cdx-text-input 
                                cdx-text-input--has-start-icon 
                                cdx-text-input--has-end-icon 
                                cdx-search-input__text-input
                                "
                        >
                            <input 
                                class="cdx-text-input__input" 
                                type="search"
                                name="search"
                                v-model="searchQuery"
                                placeholder="Search page titles"
                                @keyup="fetchResultsDebounced()"
                                @focus="searchExpanded = true;"
                                @blur="searchExpanded = false;"
                            >

                            <input 
                                type="hidden" 
                                name="title" 
                                value="{{page-title}}"
                            >

                            <span class="cdx-icon cdx-text-input__start-icon">
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    width="20" height="20" 
                                    viewBox="0 0 20 20" 
                                    aria-hidden="true"
                                >
                                    {{#cdx-icon-search}}
                                    <g fill="currentColor">{{{.}}}</g>
                                    {{/cdx-icon-search}}
                                </svg>
                            </span>
                            <!---->
                        </div>
                    </div>

                    <input 
                        class="
                            cdx-button 
                            cdx-button--action-default 
                            cdx-button--type-normal 
                            cdx-button--framed 
                            cdx-search-input__end-button
                            "
                        type="submit" 
                        name="go" 
                        value="Go" 
                    >
                </div>

                {{>SearchResults}}
            </div>
        </form>
    </div>
</details>
{{/data-search-box}}