{{>PageNav}}
{{>Lightbox}}
{{>Notices}}
<main id="content" class="incunabula-body">
	<header class="incunabula-contentheader">
		{{>ContentNav}}

		{{{html-title-heading}}}

		<div class="incunabula-contentheader__tagline">
			<span>{{msg-tagline}}</span>
			<span>{{{html-subtitle}}}</span>
			<span>{{{html-undelete-link}}}</span>
		</div>

	</header>
	{{>ContentBody}}
	{{#data-toc}}{{>TableOfContents}}{{/data-toc}}
</main>
<nav>
	{{>Languages}}
</nav>
{{>Footer}}
