<details id="toc-sticky">
    <summary>
        <span>Table Of Contents</span>
    </summary>
    <ul>
    {{#array-sections}}
    {{>TableOfContents__line}}
    {{/array-sections}}
    </ul>
</details>
